.wrapper {
  max-width: 100%;
  /* border: 1px solid blue; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* justify-content: space-around; */

  row-gap: 2rem;
  column-gap: 1.5rem;

  > * {
    /* flex: auto; */
    /* flex: 1; */
  }
}

.container {
  --padding: 0.65rem;

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%; */
  min-width: 185px;
  max-width: 11.5rem;
  height: 250px;
  /* height: 365px  ; */
  /* height: 370px; */

  outline: 1px solid #ddd;
  overflow: hidden;

  padding-top: var(--padding);
  padding-bottom: var(--padding);
  border-radius: 0.7rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  /* align-items: flex-start; */
  gap: 1rem;
  /* align-content: center; */
  /* justify-content: space-between; */
  transition: all 0.5s;

  > * {
    /* flex: 0 1 100px; */
    /* margin-top: 12rem; */
    /* border: 1px solid green; */
  }

  &:hover {
    max-width: 400px;
    background-position: top;

    height: 350px;
  }
}
