.title {
  font-size: 1rem;
  color: #f1f1f1;
  margin-top: 9rem;
  margin-right: 0.65rem;
  margin-left: 0.65rem;
}

.releaseDate {
  font-size: 0.6rem;
  font-weight: bold;

  padding: 0.25rem 0.7rem;
  margin-top: 0.5rem;
  margin-left: 0.65rem;

  background-color: #f1f1f1;
  /* background: #f7f4f4; */
  border-radius: 10px;
  /* padding: 3px 8px; */
}

.summary {
  font-size: 0.85rem;
  /* display: none; */
  /* color: red; */
  /* border: 1px solid red; */
  margin-top: 1.5rem;
  background: #fff;
  /* display: block; */
  flex: 1 0 100%;
  padding: 0.5rem;
  height: 100%;
}
