:root {
  --margin: 0.65rem;
}

.title {
  font-size: 1rem;
  /* color: #f1f1f1; */
  color: #000;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff;
  margin-right: var(--margin);
  margin-left: var(--margin);
  width: calc(100% - calc(var(--margin) * 2));
  flex: 1 0 calc(250px - calc(var(--margin) * 6));
  /* flex: 1 0 calc(370px - calc(var(--margin) * 6)); */

  display: flex;

  > span {
    align-self: flex-end;
  }
}

.releaseDate {
  font-size: 0.6rem;
  font-weight: bold;

  padding: 0.25rem 0.7rem;
  margin-left: var(--margin);

  background-color: #f1f1f1;
  /* background: #f7f4f4; */
  border-radius: 1rem;
}

.summary {
  font-size: 0.85rem;
  background: #fff;
  flex: 1 0 100%;
  padding: var(--margin);
  height: 100%;
}
